[Desktop Entry]
Name=4Desk
NoDisplay=true
MimeType=x-scheme-handler/4desk;
TryExec=4desk
Exec=4desk %u
Icon=4desk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=4desk
